.letreiro {
  text-shadow: #030303;
  text-shadow: 15px;
  font-size: 44px;
  font-weight: bold;
  overflow: hidden;
  height: 39vw;
  border-right: 2px solid hsl(0, 92%, 49%);
  animation: blink-caret 0.75s step-end infinite;
  text-align: center;
  background-color: gray;
  color: red;
}


